
<!-- <p>HcUy6Re2LLBRtj</p> -->


<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Lista De Tareas</title>
  </head>
  <body>
    <h1>Hola dime a quién saludar</h1>
<form class="" action="/saludo" method="post">
  <label for="name"> <input type="text" id="nombre" name="nombre" value=""> </label>
    <input type="submit" name="" value=""> <button type="submit" class="btn btn-success">Saluda</button>
  </div>
</form>
</body>
</html> -->


<h2>Hola</h2>
<% @array.each do |n| %>
 <br>
  <% if n.odd? %>
  <%= n.to_s + " Soy impar!" %>
  <% else %>
  <%= n.to_s + " Soy par!" %>
  <%end %>
<% end %>
